#view-high-score {
  font-size: 35px;
}

.btn:hover {
  background-color: blueviolet;
}

.highscore:hover {
  background-color: blueviolet;
}

#info {
  font-size: 20px;
}

.answerbtn:hover {
  background-color: blueviolet;
}
