.container {
  padding: 30px;
  margin-top: 35px;
  position: relative;
}

.title {
  font-size: 35px;
  text-align: center;
}

#timer {
  font-size: 15px;
  text-align: center;
}

#start {
  background-color: blue;
  text-align: center;
  position: absolute;
  left: 43%;
  font-size: 20px;
  padding: 5px 40px;
  color: white;
  cursor: pointer;
}

#start:hover {
  background-color: purple;
}
